<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Pokemon</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <img src="./images/Pokemon.png" alt="catch em all">
    <h1>Submit a Pokemon</h1>
    <form action='/' method='post'>
      <input type='text' name='name'>
      <button type='submit'>add</button>
    </form>
    
  </body>
</html>
